.dialog-content {
  text-align: center;
}

.qr-code-container {
  margin: 20px 0;
  display: inline-block;
}

.link-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.link-container input {
  flex-grow: 1;
  margin-right: 8px;
}
